<div class="content">
    <br><br><br><br><br>
    <!-- Main Content -->
    <div class="container mt-4">
        <!-- Header -->
        <h3 class="text-center" style="color: #17baaf;">STAFF INFORMATION</h3>

        <br>
        <!-- Search and Add Staff -->
        <div class="row mb-3">
            <!-- Search -->
            <div class="col-md-8">
                <input type="search" class="form-control" placeholder="Search staff here..." [(ngModel)]="searchTerm" />
                <div *ngIf="filteredStaffs().length === 0" class="text-center text-danger">
                    No matching staff found.
                  </div>
            </div>


            <!-- Add Staff -->
            <div class="col-md-4 text-md-end text-center"> <a class="btn btn-outline-secondary"
                    [routerLink]="['/auth/admin']">
                    <i class="fa fa-arrow-left"></i>&nbsp;Back
                </a>&nbsp;&nbsp;
                <a [routerLink]="['/admin/add']" role="button" class="btn btn-outline-info">
                    <i class="fa fa-user-plus fa-lg"></i>&nbsp;Register Staff
                </a>&nbsp;&nbsp;
                <a [routerLink]="['/auth/login']" role="button" class="btn btn-outline-danger btn-sm">
                    <span><i class="fa fa-sign-out fa-lg"></i></span>
                    Logout
                </a>
            </div>
        </div>

        <!-- Employee Records Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Staff Code</th>
                        <th scope="col">Staff Name</th>
                        <th scope="col">DepartmentName</th>
                        <th scope="col">Dob</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Is Active</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of filteredStaffs() 
                        | paginate: { itemsPerPage: pageSize, currentPage: page }">
                        <td>{{ 'ST' + staff.StaffId }}</td>
                        <td>{{ staff.StaffName }}</td>
                        <td>{{ staff.Department?.DepartmentName }}</td>
                        <td>{{ staff.Dob | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ staff.Address }}</td>
                        <td>{{ staff.PhoneNumber }}</td>
                        <td>{{ staff.Email }}</td>
                        <td>{{ staff.Gender }}</td>
                        <td>{{ staff.Salary }}</td>
                        <td>
                            <input type="checkbox" [checked]="staff.StaffIsActive" class="form-check-input" disabled />
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-outline-info" (click)="UpdateStaffs(staff)" title="Edit">
                                <i class="fa fa-edit"></i>
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-outline-danger" (click)="deleteStaff(staff)" title="Delete">
                                <i class="fa fa-trash" style="color: gray; cursor: not-allowed; opacity: 0.5;"
                                    aria-disabled="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class=" text-center mt-3">
            <pagination-controls class="custom-pag" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>