<!-- labtestviewreport-list.component.html -->
<div class="container">
  <br><br><br><br>
  <h3 class="text-success font-serif"><b>Diagnosys History</b></h3>
  <hr>


  <div class="mt-3" *ngIf="startDiagnosy">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="bg-light">History ID</th>
              <td>{{startDiagnosy.HistoryId}}</td>
            </tr>
            <tr>
              <th class="bg-light">Diagnosis </th>
              <td>{{startDiagnosy.Diagnosis}}</td>
            </tr>
            <tr>
              <th class="bg-light">Symptoms</th>
              <td>{{startDiagnosy.Symptoms}}</td>
            </tr>
            <tr>
              <th class="bg-light">NextVisiting</th>
              <td>{{startDiagnosy.NextVisiting}}</td>
            </tr>
            <tr>
              <th class="bg-light">DoctorNote</th>
              <td>{{startDiagnosy.DoctorNote}}</td>
            </tr>
            <tr>
              <th class="bg-light">DiagnosysDate</th>
              <td>{{startDiagnosy.DiagnosysDate}}</td>
            </tr>
            <tr>
              <th class="bg-light">AppointmentId</th>
              <td>{{startDiagnosy.AppointmentId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!startDiagnosy" class="alert alert-info mt-3">
    No History found for this appointment.
  </div>
</div>