<div class="container">
    <h3>New User Info</h3>
    <hr>
    <form name="frmStaff" #stForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(stForm)">
        <!-- Staff Id -->
        <div class="form-group">
            <input type="hidden" readonly name="RegistrationId" class="form-control"
                [(ngModel)]="registerService.formStaffData.RegistrationId">
        </div>
        
        <!-- Staff Name -->
        <div class="form-group">
            <label>User name: </label>
            <input type="text" name="Username" #Username="ngModel" 
                [(ngModel)]="registerService.formStaffData.Username" 
                class="form-control" placeholder="Enter Username" minlength="3" maxlength="25" required 
                [ngClass]="{'is-invalid': Username.touched && Username.invalid}">
        </div>
        <div class="Validation-error" *ngIf="Username.touched && Username.invalid">
            <div *ngIf="Username.errors?.['required']">Username is required!</div>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label>Password: </label>
            <input type="text" name="Price" #Password="ngModel" 
                [(ngModel)]="registerService.formStaffData.Password" 
                class="form-control" placeholder="Enter Password" required 
                [ngClass]="{'is-invalid': Password.touched && Password.invalid}">
        </div>
        <div class="Validation-error" *ngIf="Password.touched && Password.invalid">
            <div *ngIf="Password.errors?.['required']">Password is required!</div>
        </div>

       <!--Department Id-->
 <div class="form-group">
    <label>RoleName:</label>
    <select name="RoleId" id="RoleId"
        #DepartmentId="ngModel"
        [(ngModel)]="registerService.formStaffData.RoleId"
        class="form-control"
        required>
        <option value="0" selected disabled>----Select Role----</option>
        <option *ngFor="let Role of registerService.role"
            value="{{Role.RoleId}}">
            {{Role.RoleName}}
        </option>
    </select>
</div>

           <!--Department Id-->
 <div class="form-group">
    <label>Staff Name:</label>
    <select name="StaffId" id="StaffId"
        #DepartmentId="ngModel"
        [(ngModel)]="registerService.formStaffData.StaffId"
        class="form-control"
        required>
        <option value="0" selected disabled>----Select staff----</option>
        <option *ngFor="let Staff of registerService.staff"
            value="{{Staff.StaffId}}">
            {{Staff.StaffName}}
        </option>
    </select>
</div>

       
        
<!-- Created date-->
<div class="form-group">
    <label>RegisteredDate : </label>
    <input type="date" name="RegisteredDate" #RegisteredDate="ngModel" 
        [(ngModel)]="registerService.formStaffData.RegisteredDate" 
        class="form-control" required 
        [ngClass]="{'is-invalid': RegisteredDate.touched && RegisteredDate.invalid}">
</div>
<div class="Validation-error" *ngIf="RegisteredDate.touched && RegisteredDate.invalid">
    <div *ngIf="RegisteredDate.errors?.['required']">RegisteredDate is required!</div>
</div>

        

    
         

        <!-- Is Active -->
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" name="RIsActive" #RIsActive="ngModel" 
                    [(ngModel)]="registerService.formStaffData.RIsActive" 
                    class="form-check-input">
                <label class="form-check-label">Is Active</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary form-control" 
                [disabled]="!(stForm.valid && stForm.dirty)">
                INSERT
            </button>
        </div>
        <div *ngIf="errorMessage" class="error-message validation-error">
            {{errorMessage}}
        </div>
    </form>
</div>