<div class="container">
    <!-- Doctor Info -->
    <h3 class="mb-4">Doctor Info</h3>
  
    <!-- Header Section -->
    <div class="header mb-3">
      <div class="row align-items-center">
        <!-- Search -->
        <div class="col-md-8 col-sm-12 mb-2 mb-md-0">
          <input
            type="search"
            class="form-control"
            placeholder="Enter search text here.."
            [(ngModel)]="searchTerm"
          />
        </div>
        <!-- Add Doctor Button -->
        <div class="col-md-4 col-sm-12 text-md-end">
          <a
            [routerLink]="['/doctormanagement/add']"
            role="button"
            class="btn btn-outline-primary"
          >
            <i class="fa fa-user-plus fa-lg"></i>&nbsp;Add Doctor
          </a>
        </div>
      </div>
    </div>
  
    <!-- Display Records -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center">Doctor Code</th>
            <th scope="col" class="text-center">Consultation Fee</th>
            <th scope="col" class="text-center">Specialization</th>
            <th scope="col" class="text-center">Doctor Name</th>
            <th scope="col" class="text-center">Active</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let doctor of filtereddoctors() | paginate: { itemsPerPage: pageSize, currentPage: page }"
          >
            <td class="text-center">{{ 'DR' + doctor.DoctorId }}</td>
            <td class="text-center">{{ doctor.ConsultationFee }}</td>
            <td class="text-center">{{ getSpecilizationName(doctor.SpecializationId) }}</td>

            <td class="text-center">{{ getDoctorName(doctor) }}</td>
           
            <td class="text-center">
              <input type="checkbox" [checked]="doctor.DoctorIsActive" disabled />
            </td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-outline-info"
                (click)="Updatedoctors(doctor)"
              >
                <i class="fa fa-edit"></i>
              </button>
              &nbsp;
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deletedoctor(doctor)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Pagination -->
    <div class="footer text-center mt-3">
      <pagination-controls
        class="custom-page"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
  