<div class="container">
    <br>
    <br>
    <br><br>
    <div class="card" style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <h3>Edit User Information</h3>
        <hr>
        <form name="frmStaff" #stForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(stForm)">
            <!-- Staff Id -->
            <div class="form-group">
                <input type="hidden" readonly name="RegistrationId" class="form-control"
                    [(ngModel)]="registrationService.formStaffData.RegistrationId">
            </div>
            <br>

            <div class="row">
                <!-- Staff Name -->
                <div class="col-md-6 form-group">
                    <label>User Name: </label>
                    <input type="text" name="Username" #Username="ngModel" 
                        [(ngModel)]="registrationService.formStaffData.Username" 
                        class="form-control" placeholder="Enter Username" minlength="3" maxlength="25" required 
                        [ngClass]="{'is-invalid': Username.touched && Username.invalid}">
                    <div class="Validation-error" *ngIf="Username.touched && Username.invalid">
                        <div *ngIf="Username.errors?.['required']">Username is required!</div>
                    </div>
                </div>

                <!-- Password -->
                <div class="col-md-6 form-group">
                    <label>Password: </label>
                    <input type="password" name="Password" #Password="ngModel" 
                        [(ngModel)]="registrationService.formStaffData.Password" 
                        class="form-control" placeholder="Enter Password" minlength="3" maxlength="50" required 
                        [ngClass]="{'is-invalid': Password.touched && Password.invalid}">
                    <div class="Validation-error" *ngIf="Password.touched && Password.invalid">
                        <div *ngIf="Password.errors?.['required']">Password is required!</div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <!-- Date of Joining -->
                <div class="col-md-6 form-group">
                    <label>Registered Date: </label>
                    <input type="date" name="RegisteredDate" #RegisteredDate="ngModel" 
                        [(ngModel)]="registrationService.formStaffData.RegisteredDate" 
                        class="form-control" required 
                        [ngClass]="{'is-invalid': RegisteredDate.touched && RegisteredDate.invalid}">
                    <div class="Validation-error" *ngIf="RegisteredDate.touched && RegisteredDate.invalid">
                        <div *ngIf="RegisteredDate.errors?.['required']">Registered Date is required!</div>
                    </div>
                </div>

                <!-- Role -->
                <div class="col-md-6 form-group">
                    <label>Role:</label>
                    <select name="RoleId" id="RoleId"
                        #RoleId="ngModel"
                        [(ngModel)]="registrationService.formStaffData.RoleId"
                        class="form-control"
                        required>
                        <option value="0" selected disabled>----Select Role----</option>
                        <option *ngFor="let dept of registrationService.role"
                            value="{{dept.RoleId}}">
                            {{dept.RoleName}}
                        </option>
                    </select>
                </div>
            </div>
            <br>

            <!-- Is Active -->
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" name="RisActive" #RisActive="ngModel" 
                        [(ngModel)]="registrationService.formStaffData.RisActive" 
                        class="form-check-input">
                    <label class="form-check-label">Is Active</label>
                </div>
            </div>
            <br>

            <!-- Submit Button -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-info"  
                    [disabled]="!(stForm.valid && stForm.dirty)">
                    UPDATE
                </button>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-secondary" [routerLink]="['/uregistration/list']">
                    <i class="fa fa-arrow-left"></i>&nbsp;Back
                </a>
                <br>
                <br>
            </div>
            <div *ngIf="errorMessage" class="error-message validation-error">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>
