<div class="container">
    <h3>New Employee Info</h3>
    <hr>

    <!--Template Driven Form-->
    <form name="frmPatient" #empform="ngForm" autocomplete="off" (ngSubmit)="onSubmit(empform)">


        <!--DepartmentId-->
        <div class="form-group">
            <label>Specialization:</label>
            <select name="SpecializationId" id="SpecializationId" #SpecializationId="ngModel" class="form-control"
                [(ngModel)]="patientService.formPatientData.SpecializationId" required>
                <option value="0" selected disabled> ---Select Specialization--- </option>
                <option *ngFor="let spec of patientService.specializations" value="{{dept.SpecializationId}}">
                    {{spec.SpecializationName}}
                </option>
            </select>
            <div class="validation-error" *ngIf="SpecializationId.touched && SpecializationId.invalid">
                <div *ngIf="SpecializationId.errors?.['required']">
                    Specialization is required! </div>
            </div>
        </div>

    </form>
</div>