<div class="container mt-4">
    <!-- Header -->
    <h3 class="text-center mb-4">List of authorized users</h3>

    <!-- Search and Add Staff -->
    <div class="row mb-3">
        <!-- Search -->
        <div class="col-md-8">
            <input
                type="search"
                class="form-control"
                placeholder="Search here..."
                [(ngModel)]="searchTerm"
            />
        </div>

        <!-- Add Staff -->
        <div class="col-md-4 text-md-end text-center">
            <a [routerLink]="['/users/add']" role="button" class="btn btn-outline-primary">
                <i class="fa fa-user-plus fa-lg"></i>&nbsp;Add registration
            </a>
        </div>
    </div>

    <!-- Employee Records Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">Registration Code</th>
                    <th scope="col">Staff Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">RegisteredDate</th>
                    <th scope="col">RIsActive</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let userService of filteredusers() 
                    | paginate: { itemsPerPage: pageSize, currentPage: page }"
                >
                    <td>{{ 'R' + userService.RegistrationId }}</td>
                    <td>{{ userService.StaffId.StaffName }}</td>
                    <td>{{ userService.role?.RoleName }}</td>
                    <td>{{ userService.Username }}</td>
                    <td>{{ userService.Password }}</td>
                    <td>{{ userService.RegisteredDate | date: 'yyyy-MM-dd' }}</td>
                    <td>
                        <input
                            type="checkbox"
                            [checked]="userService.RIsActive"
                            class="form-check-input"
                            disabled
                        />
                    </td>
                    <td class="text-center">
                        <button
                            class="btn btn-sm btn-outline-info"
                            (click)="Updateuser(userService)"
                            title="Edit"
                        >
                            <i class="fa fa-edit"></i>
                        </button>
                        &nbsp;
                        <button
                            class="btn btn-sm btn-outline-danger"
                            (click)="deleteuser(userService)"
                            title="Delete"
                        >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="footer text-center mt-3">
        <pagination-controls
            class="custom-page"
            (pageChange)="page = $event"
        ></pagination-controls>
    </div>
</div>
