<p>admindash works!</p>

<app-navbar></app-navbar>
<div class="container mt-5 text-center">
    <!-- List Employees Button -->
    <a 
        [routerLink]="['/register/list']" 
        role="button" 
        class="btn btn-outline-primary mx-2 d-inline-block"
        style="width: 150px;"
    >
        <span>
            <i class="fa fa-users fa-lg"></i>
        </span>
        <br>user
    </a>
    
    <!-- Add Employees Button -->
    <a 
        [routerLink]="['/admin/list']" 
        role="button" 
        class="btn btn-outline-primary mx-2 d-inline-block"
        style="width: 150px;"
    >
        <span>
            <i class="fa fa-user-plus fa-lg"></i>
        </span>
        <br>Staff Management
    </a>
    <a 
        [routerLink]="['/medicine-managements/list']" 
        role="button" 
        class="btn btn-outline-primary mx-2 d-inline-block"
        style="width: 150px;"
    >
        <span>
            <i class="fa fa-user-plus fa-lg"></i>
        </span>
        <br>Medicine Management
    </a>
    <a 
        [routerLink]="['/doctormanagement/list']" 
        role="button" 
        class="btn btn-outline-primary mx-2 d-inline-block"
        style="width: 150px;"
    >
        <span>
            <i class="fa fa-user-plus fa-lg"></i>
        </span>
        <br>Doctor Management
    </a>
    <a 
        [routerLink]="['/admin/list']" 
        role="button" 
        class="btn btn-outline-primary mx-2 d-inline-block"
        style="width: 150px;"
    >
        <span>
            <i class="fa fa-user-plus fa-lg"></i>
        </span>
        <br>Set Doctor Availability
    </a>
</div>

