<div class="container"><br><br><br><br><br>
    <div class="card" style="max-width: 800px; margin: 0 auto; padding: 20px;">
    <div class="header">

        <h2>Register New Staff</h2>
    </div><br>

    <form name="frmStaff" #stForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(stForm)">
        <div class="row">
            <div class="col-md-6 left-side">
                <!-- Staff Name -->
                <div class="form-group">
                    <label><b>Staff Name:</b> </label>
                    <input type="text" name="StaffName" #StaffName="ngModel"
                        [(ngModel)]="staffService.formStaffData.StaffName" class="form-control"
                        placeholder="Enter Staff Name" minlength="3" maxlength="25" required
                        pattern="^[A-Za-z][A-Za-z\s]*$"
                        [ngClass]="{'is-invalid': StaffName.touched && StaffName.invalid}"
                        [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="capitalizeFirstLetter($event)" />
                </div>
                <div class="Validation-error" *ngIf="StaffName.touched && StaffName.invalid">
                    <div *ngIf="StaffName.errors?.['required']">Staff Name is required!</div>
                    <div *ngIf="StaffName.errors?.['minlength']">Staff Name must be at least 3 characters long.</div>
                    <div *ngIf="StaffName.errors?.['maxlength']">Staff Name cannot be more than 25 characters long.
                    </div>
                    <div *ngIf="StaffName.errors?.['pattern']">Staff Name can only contain letters and must not start
                        with a space.</div>
                    <div *ngIf="StaffName.errors?.['firstLetterNotCapitalized']">Staff Name should start with a capital
                        letter.</div>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label><b>Address: </b></label>
                    <input type="text" name="Address" #Address="ngModel"
                        [(ngModel)]="staffService.formStaffData.Address" class="form-control"
                        placeholder="Enter Address" minlength="3" maxlength="50" required
                        [ngClass]="{'is-invalid': Address.touched && Address.invalid}">
                </div>
                <div class="Validation-error" *ngIf="Address.touched && Address.invalid">
                    <div *ngIf="Address.errors?.['required']">Address is required!</div>
                </div>

                <!-- Phone Number -->
                <div class="form-group">
                    <label><b>Phone Number: </b></label>
                    <input type="text" name="PhoneNumber" #PhoneNumber="ngModel"
                        [(ngModel)]="staffService.formStaffData.PhoneNumber" class="form-control"
                        placeholder="Enter Phone Number" minlength="10" maxlength="10" required
                        pattern="^[6-9][0-9]{9}$"
                        [ngClass]="{'is-invalid': PhoneNumber.touched && PhoneNumber.invalid}">
                </div>
                <div class="Validation-error" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
                    <div *ngIf="PhoneNumber.errors?.['required']">Phone Number is required!</div>
                    <div *ngIf="PhoneNumber.errors?.['minlength']">Phone Number must be exactly 10 digits long.</div>
                    <div *ngIf="PhoneNumber.errors?.['maxlength']">Phone Number must be exactly 10 digits long.</div>
                    <div *ngIf="PhoneNumber.errors?.['pattern']">Phone Number must start with 6, 7, 8, or 9 and be
                        followed by 9 digits.</div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label><b>Email:</b> </label>
                    <input type="email" name="Email" #Email="ngModel" [(ngModel)]="staffService.formStaffData.Email"
                        class="form-control" placeholder="Enter Email" required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
                </div>
                <div class="Validation-error" *ngIf="Email.touched && Email.invalid">
                    <div *ngIf="Email.errors?.['required']">Email is required!</div>
                    <div *ngIf="Email.errors?.['pattern']">Please enter a valid email address like adfgh@gmail.com!
                    </div>
                </div>
            </div>

            <div class="col-md-6 right-side">
                <!-- Date of Birth -->
                <div class="form-group">
                    <label><b>Date of Birth: </b></label>
                    <input type="date" name="Dob" #Dob="ngModel" [(ngModel)]="staffService.formStaffData.Dob"
                        class="form-control" required [ngClass]="{'is-invalid': Dob.touched && Dob.invalid}"
                        [min]="minDate" [max]="maxDate">
                </div>
                <div class="Validation-error" *ngIf="Dob.touched && Dob.invalid">
                    <div *ngIf="Dob.errors?.['required']">Date of Birth is required!</div>
                </div>

                <!-- Department Id -->
                <div class="form-group">
                    <label><b>Department:</b></label>
                    <select name="DepartmentId" id="DepartmentId" #DepartmentId="ngModel"
                        [(ngModel)]="staffService.formStaffData.DepartmentId" class="form-control" required>
                        <option value="0" selected disabled>----Select Department----</option>
                        <option *ngFor="let dept of staffService.department" value="{{dept.DepartmentId}}">
                            {{dept.DepartmentName}}
                        </option>
                    </select>
                </div>

                <!-- Gender -->
                <div class="form-group">
                    <label><b>Gender:</b></label>
                    <select name="Gender" #Gender="ngModel" class="form-control"
                        [(ngModel)]="staffService.formStaffData.Gender" required>
                        <option value="" selected disabled>---Select Gender---</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="Validation-error" *ngIf="Gender.touched && Gender.invalid">
                        <div *ngIf="Gender.errors?.['required']">
                            Gender is required!
                        </div>
                    </div>
                </div>

                <!-- Salary -->
                <div class="form-group">
                    <label><b>Salary:</b> </label>
                    <input type="number" name="Salary" #Salary="ngModel" [(ngModel)]="staffService.formStaffData.Salary"
                        class="form-control" placeholder="Enter Salary" required
                        [ngClass]="{'is-invalid': Salary.touched && Salary.invalid}" min="5000" max="100000"
                        [pattern]="'^[0-9]+$'">
                </div>
                <div class="Validation-error" *ngIf="Salary.touched && Salary.invalid">
                    <div *ngIf="Salary.errors?.['required']">Salary is required!</div>
                    <div *ngIf="Salary.errors?.['min']">Salary must be at least 5000!</div>
                    <div *ngIf="Salary.errors?.['max']">Salary must not exceed 1 lakh!</div>
                    <div *ngIf="Salary.errors?.['pattern']">Salary must be a positive number!</div>
                </div>
                <br>
                <!-- Is Active -->
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" name="StaffIsActive" #IsActive="ngModel"
                            [(ngModel)]="staffService.formStaffData.StaffIsActive" class="form-check-input">
                        <label class="form-check-label"><b>Is Active</b></label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!-- Submit Button -->
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-info" [disabled]="stForm.invalid">Save</button>&nbsp;&nbsp;
            <a class="btn btn-outline-secondary" [routerLink]="['/admin/list']">
                <i class="fa fa-arrow-left"></i>&nbsp;Back
            </a>

        </div>
    </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer class="footer mt-auto py-4 bg-custom text-white text-center">
    <div class="container">
        © 2024 Staff Management System
    </div>
</footer>

