<div class="container">
    <h3>New Medicine Info</h3>
    <hr>
    <form #medForm="ngForm" (ngSubmit)="onSubmit(medForm)">
      <!-- Hidden DoctorId -->
      <input
        type="hidden"
        readonly
        name="DoctorId"
        [(ngModel)]="doctormanagementService.formStaffData.DoctorId"
      />
  
     
  
      <!-- Specialization Dropdown List -->
      <div class="form-group">
        <label for="SpecializationId">Specialization:</label>
        <select
          id="SpecializationId"
          name="SpecializationId"
          class="form-control"
          [(ngModel)]="doctormanagementService.formStaffData.SpecializationId"
          required
          #SpecializationId="ngModel"
        >
          <option value="" disabled selected>--- Select Specialization Name ---</option>
          <option
            *ngFor="let ctg of doctormanagementService.specialization"
            [value]="ctg.SpecializationId"
          >
            {{ ctg.SpecializationName }}
          </option>
        </select>
        <div class="validation-error" *ngIf="SpecializationId.touched && SpecializationId.invalid">
          Specialization is required!
        </div>
      </div>
  
     
  
      <!-- Submit Button -->
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-lg btn-primary form-control"
          [disabled]="!medForm.valid"
        >
          INSERT
        </button>
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message validation-error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  